<p style="color: green"><%= notice %></p>
<br />
<h1>Friends</h1>

<div id="friends">
  <% @friends.each do |friend| %>
  
    <%= render friend %>
    <p>
      <%= link_to "Show ", friend, class: "btn btn-secondary" %>
  <%= link_to "New friend", new_friend_path, class: "btn btn-secondary" %>
    </p>
  <% end %>
</div>

